.bgm_sans {
  font-family: 'Raleway', sans-serif;
}

.bgm_serif {
  font-family: 'Jomolhari', serif;
}

.bgm_text-capitalize {
  text-transform: capitalize;
}

/*
	WEIGHTS
*/
.bgm-font-bold {
	font-weight: 700;
}

.bgm-font-medium {
	font-weight: 400;
}

.bgm-font-ligth {
	font-weight: 300;
}

/*
	SIZES
*/
.bgm_font-xs {
  font-size: 12px;
}

.bgm_font-s {
  font-size: 14px;
}

.bgm_font-m {
  font-size: 18px;
}

.bgm_font-l {
  font-size: 24px;
}

.bgm_font-xl {
  font-size: 30px;
}

/*
	ALIGNMENT
*/
.text_align_center {
	text-align: center;
}
